/api-passenger/target/api-passenger-1.0-SNAPSHOT.jar
/api-passenger/target/classes/com/mashibing/apipassenger/ApiPassengerApplication.class
/.idea/compiler.xml
/.idea/encodings.xml
/service-verificationcode/HELP.md
/target
*.class
*.patch
*.lst
*.jar
/.idea/workspace.xml
/target
/.idea/shelf/_2023_10_18__23_29____.xml
/api-passenger/target/classes/application.yml
/service-verificationcode/target/classes/application.yml
/api-passenger/target/maven-archiver/pom.properties
/service-verificationcode/src/test/java/com/mashibing/serviceverificationcode/ServiceVerificationcodeApplicationTests.java
/.idea/
/internal-common/target/
/service-passenger-user/target/
